/* BLOBALES */
*{
    top: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-color: rgb(236, 236, 236);
}
.titulo{
    text-align: center;
    margin-bottom: 1rem;
}

/*clases */
.contenedor{
    text-align: center;
}
.contenedor h1{
    font-size: 3rem;
    margin-bottom: 1.3rem;
    color:#357edd;
}
.contenedor nav a {
    margin-right: 2rem;
    text-decoration: none;
    font-weight: bold;
    color: gray;
}
.contenedor nav a:hover{
    color: black;
}
.mensaje{
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;
}
.ejercicio1{
    margin-top: 4rem;
    text-align: center;
}

.vista{
    display: none;
}
.contenedor-img{
    margin: 1rem 0;
}
.contenedor-img img{
    width: 900px;
    border-radius: 0.5rem;
    box-shadow: 15px 7px 6px 1px rgb(107, 107, 107);
}

